[submodule "deps/dynobench"]
	path = deps/dynobench
	url = git@github.com:quimortiz/dynobench.git
[submodule "deps/crazyflie-firmware"]
	path = deps/crazyflie-firmware
	url = git@github.com:IMRCLab/crazyflie-firmware.git
